<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GoodsCatalog1">

    <resultMap type="GoodsCatalog1" id="GoodsCatalog1Map">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="takeEffect" column="take_effect" jdbcType="INTEGER"/>
        <result property="deleteSign" column="delete_sign" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" parameterType="GoodsCatalog1" resultMap="GoodsCatalog1Map">
        select
          id, name, take_effect, delete_sign
        from goods_catalog1
        where id = #{id}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectList" parameterType="GoodsCatalog1" resultMap="GoodsCatalog1Map">
        select
        id, name, take_effect, delete_sign
        from goods_catalog1
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="takeEffect != null">
                and take_effect = #{takeEffect}
            </if>
            <if test="deleteSign != null">
                and delete_sign = #{deleteSign}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" parameterType="GoodsCatalog1">
        insert into goods_catalog1(id, name, take_effect, delete_sign)
        values (#{id}, #{name}, #{takeEffect}, #{deleteSign})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="GoodsCatalog1">
        update goods_catalog1
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="takeEffect != null">
                take_effect = #{takeEffect},
            </if>
            <if test="deleteSign != null">
                delete_sign = #{deleteSign},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="GoodsCatalog1">
        delete from goods_catalog1 where id = #{id}
    </delete>

</mapper>