<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdvertInfo">

    <resultMap type="com.mall.entity.AdvertInfo" id="AdvertInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="advertType" column="advert_type" jdbcType="INTEGER"/>
        <result property="advertName" column="advert_name" jdbcType="VARCHAR"/>
        <result property="imgUrl" column="img_url" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="AdvertInfoMap">
        select
          id, advert_type, advert_name, img_url
        from mall.advert_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AdvertInfoMap">
        select
          id, advert_type, advert_name, img_url
        from mall.advert_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectList" resultMap="AdvertInfoMap">
        select
        id, advert_type, advert_name, img_url
        from mall.advert_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="advertType != null">
                and advert_type = #{advertType}
            </if>
            <if test="advertName != null and advertName != ''">
                and advert_name = #{advertName}
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                and img_url = #{imgUrl}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mall.advert_info(advert_type, advert_name, img_url)
        values (#{advertType}, #{advertName}, #{imgUrl})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into mall.advert_info(advert_type, advert_name, img_url)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.advertType}, #{entity.advertName}, #{entity.imgUrl})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into mall.advert_info(advert_type, advert_name, img_url)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.advertType}, #{entity.advertName}, #{entity.imgUrl})
        </foreach>
        on duplicate key update
        advert_type = values(advert_type) , advert_name = values(advert_name) , img_url = values(img_url)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mall.advert_info
        <set>
            <if test="advertType != null">
                advert_type = #{advertType},
            </if>
            <if test="advertName != null and advertName != ''">
                advert_name = #{advertName},
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                img_url = #{imgUrl},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from mall.advert_info where id = #{id}
    </delete>

</mapper>